@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply m-0 p-0;
	scrollbar-color: #78716c #fafaf9;
	scrollbar-width: thin;
}

html.dark {
	scrollbar-color: #78716c #0c0a09;
}

body {
	@apply m-0 bg-stone-50 p-0 text-stone-900 transition-colors duration-300 ease-in-out dark:bg-stone-950 dark:text-stone-50;
}

.btn {
	@apply flex flex-row items-center justify-center px-4 py-2 font-semibold outline-none transition-all duration-300 will-change-transform hover:cursor-pointer;
}

.btn-primary {
	@apply btn bg-blue-500 text-stone-50 transition-all duration-300 ease-in-out hover:scale-105 hover:bg-blue-600 focus:scale-105;
}

.btn-secondary {
	@apply btn bg-stone-700 text-stone-50 transition-all duration-300 ease-in-out hover:scale-105 hover:bg-stone-800 focus:scale-105 dark:hover:bg-stone-500;
}

.btn-danger {
	@apply btn bg-red-500 text-stone-50 transition-all duration-300 ease-in-out hover:scale-105 hover:bg-red-600 focus:scale-105;
}

.btn-outline {
	@apply btn border border-stone-400 bg-stone-50 hover:cursor-pointer hover:border-stone-700 hover:bg-stone-100 dark:border-stone-700 dark:bg-stone-950 dark:hover:border-stone-500 hover:dark:bg-stone-800;
}

.icon-button-danger:hover svg {
	@apply fill-red-500;
}

.form-label {
	@apply font-medium text-stone-600 dark:text-stone-400;
}

.form-input {
	@apply my-1 block w-full rounded-md border border-stone-400 bg-stone-50 px-3 py-2 hover:border-stone-700 hover:bg-stone-100 focus:border-stone-900 focus:outline-none dark:border-stone-700 dark:bg-stone-800 dark:hover:border-stone-500 dark:hover:bg-stone-700 dark:focus:border-stone-500;
}

.form-dropdown {
	@apply float-right rounded-md border border-stone-400 bg-stone-100 px-2 py-3 hover:cursor-pointer hover:border-stone-700 hover:bg-stone-200 focus:border-stone-900 focus:outline-none dark:border-stone-700 dark:bg-stone-900 dark:hover:border-stone-500 dark:hover:bg-stone-700 dark:focus:border-stone-500;
}

.checkbox {
	@apply flex h-6 w-6 appearance-none items-center justify-center rounded-md border border-stone-400 bg-stone-50 outline-none checked:border-stone-700 checked:bg-blue-500 hover:border-stone-700 hover:bg-stone-100 hover:checked:bg-blue-600 focus:border-stone-700 focus:bg-stone-100 focus:checked:border-stone-700 focus:checked:bg-blue-600 dark:border-stone-700 dark:bg-stone-950 dark:checked:border-stone-300 dark:checked:bg-blue-500 dark:hover:border-stone-500 dark:hover:bg-stone-800 dark:hover:checked:border-stone-300 dark:hover:checked:bg-blue-600 dark:focus:border-stone-500 dark:focus:bg-stone-800 dark:focus:checked:border-stone-300 dark:focus:checked:bg-blue-500;
}

.checkbox::before {
	@apply block h-3 w-3 scale-0 bg-white transition-all duration-150 ease-in-out;
	content: '';
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
	@apply scale-100;
}

.colorpicker {
	@apply appearance-none bg-stone-50 dark:bg-stone-950;
}
